.footer {
	background: #0b1a33;
     min-height: 450px;
     margin-top: 100px;
}
.logo-footer {
	font-size: 45px;
}
.footer-logo-text {
	font-weight: 400;
	font-size: 13px;
	color: #ffffff;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	padding: 10px 0;
}
.footer-header {
	font-weight: 700;
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
}
.footer-follow-us {
	color: #fff;
}

.social-icon > a {
	text-decoration: none;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 10px;
	padding-left: 0;
}
.social-icon > a > i {
	padding-right: 10px;
	font-size: 18px;
}
.social-icon > a:hover {
	color: #ff0056;
}
